# Virtual environment
.venv/

# IDE settings
.idea/
.vscode/

# Git repository data
.git/
.gitignore

# Python cache and compiled files
__pycache__/
*.py[cod]

**/uploads/*

# Docker and Git config files (if not needed in the image)
docker-compose.online.yml
docker-compose.ollama.yml

# Environment and secrets (prevent secrets from going into image)
.env
.env.sample

# Logs, binaries, backups
*.log
*.bin
*.bak

